[submodule "quickstart/themes/hugo-coder"]
	path = quickstart/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "quickstart/themes/poison"]
	path = quickstart/themes/poison
	url = https://github.com/lukeorth/poison.git
